<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PriceCalender.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>153CA00B1CD0B47C00958372</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>153CA0241CD0B47C00958372</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>153CA02F1CD0B47C00958372</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
